<div class = 'container' >
  <div class= 'user-sessions'>
    <div class= 'card-signin' >
      <div class= 'login-heading' style='font-weight: lighter;'> 
        <%= image_tag('login-icon.png', alt: 'img') %>
        Change Password
      </div>
      <div class= 'card-body' >
        <div class= 'parsley-form' >
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'devise/shared/error_messages', resource: resource %>
          <%= f.hidden_field :reset_password_token %>
            <div class= 'form-group' >
              <%= f.password_field :password, autofocus:true, required: true, placeholder: 'New Password', class: 'form-control' %>
              <label class= 'less-imp-label' >Hint: The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & ).</label><br/>
              <%= f.password_field :password_confirmation, class: 'form-control', autofocus: true,required: true, placeholder: 'Confirm Password'%>
            </div>
       <div class= 'actions bottom-grid' >
           <%= f.submit 'Change my password', class: 'btn btn-primary' %>
         </div>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
