<div class = 'container' >
  <div class= 'user-sessions' >
    <div class= 'card-signin' >
      <div class= 'login-heading' style='font-weight: lighter;' > 
        <%= image_tag('login-icon.png', alt: 'img') %>
        Change Password
      </div>
      <div class= 'card-body' >
        <div class= 'parsley-form' >
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
   		    <%= render 'devise/shared/error_messages', resource: resource %>
            <div class= 'form-group' >
              <%= f.text_field :email, class: 'form-control ', autofocus: true, required: true,placeholder: 'Email' %>
              <label class= 'less-imp-label' >Please enter your Email Address. You will recieve a link to create a new password via email</label>
           </div>
		   <div class= 'actions bottom-grid' >
    	     <%= f.submit 'Send me reset password instructions',class: 'btn btn-primary' %>
  		   </div>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
