<%= form_with(model: category,url: [:admin, category], local: true) do |form| %>
<%= render '/shared/error_msg', resource: category %>
  <div class= 'field form-group' >
    <%= form.label :name, 'Name of Category' %><br/>
    <%= form.text_field :name, autofocus: true, required: true, placeholder: 'Name' %>
  </div><br/>
  <div class= 'actions'>
    <%= form.submit 'Add Category', class: 'btn btn-primary' %>
  </div>
<% end %>
