<h3>Categories</h3>
<div class= 'form-inline' >
  <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary' %><hr/>
  <%= form_with method: :get, local: true do |f| %>
  <%= f.text_field :search,value: params[:search], class:'form-control' %>
    <%= f.submit 'search',class: 'btn btn-primary' %>
  <% end %><hr/>
  <%= link_to 'Export CSV', admin_categories_path(format: :csv), class: 'btn btn-primary' %>
</div>
<br/>
<div class='text-center'>
  <table class='table table-striped table-bordered table-hover'>
    <thead class='bg-primary text-white'>
      <tr>
        <th > <%= sortable 'id', @categories %></th>
        <th > <%= sortable 'name', @categories %></th>
        <th colspan='3'> Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @categories.empty? %>
        <p class='alert alert-danger text-center'>No categories to show</p>
      <% else %>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td>
              <%= link_to 'Show', [:admin,category ], class: 'btn btn-primary' %>
              <%= link_to 'Edit', [:edit, :admin, category], class: 'btn btn-primary' %>
              <% if !Product.all.find_by(category: category).nil? %>
                <%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: "Are you sure? \nThis will delete all associated products with this category!\n\nProdcuts that will be delete: \n #{Product.all.find_by(category: category).title}"}, class: 'btn btn-primary' %>
              <% else %>
                <%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: "Are you sure?\n This is safe to delete no products under this category"}, class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<% if @pagy.count > Category::PER_PAGE %>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
<% end %>
