<%= email_tag(:div) do %>
  <%= image_tag attachments['logo.png'].url, alt: 'Our Photo', style: 'text-align:center'-%>
  <% end %>
  <%= email_tag(:h3) do %>
    <p><b>Hello <%= @resource.username %>!<b></p>
  <% end %>
  <%= email_tag(:p) do %>
    We are informing you that your password has been changed
  <% end %>
  <%= email_tag(:h3) do %>
    <b>Thankyou,</b><br/>
    <b>FinTech Inc</b>
  <% end %>
<br/>
<%= email_tag(:footer) do %>
  <%= email_tag(:label) {'© Copyright 2020 FinTech Inc'} %> 
<% end %>
