<%= email_tag(:div) do %>
	<%= image_tag attachments['logo.png'].url, alt: 'Our Photo', style: 'text-align:center'-%>
	<%end%>
	<%= email_tag(:h3) do %>
		<p><b>Hello <%= @resource.username %>!<b></p>
	<% end %>
	<%= email_tag(:p) do %>
		Someone has requested a link to change your password. You can do this through the link below.
	<%end%>
	<%= email_tag(:div) do %>
	<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: 'text-align:center'-%> 
	<%end%>
	<%= email_tag(:p) do%>
		If you didn't request this, please ignore this email.<br/>
		Your password won't change until you access the link above and create a new one.
	<%end%>
	<%= email_tag(:h3) do %>
		<b>Thankyou,</b><br/>
		<b>FinTech Inc</b>
	<%end%>
<br/>
<%= email_tag(:footer) do %>
  <%= email_tag(:label) {'© Copyright 2020 FinTech Inc'} %>	
<% end %>
