<h1> New User </h1>
<div class = 'container' >
  <div class= 'parsley-form user-sessions' >
    <%= form_for [:admin, @user] do |form| %>
    <%= render 'devise/shared/error_messages', resource: @user %>
      <div class= 'form-group' >
        <%= form.label :name, 'Firstname', class: 'label required' %><br/>
        <%= form.text_field :firstname, class: 'form-control col-md-6', placeholder: 'First Name', required: true %><br/>
        <%= form.label :name, 'Lastname', class: 'label required' %><br/>
        <%= form.text_field :lastname, class: 'form-control col-md-6', placeholder: 'Last Name', required: true %><br/>
        <%= form.label :email, 'Email', class: 'label required' %><br/>
        <%= form.email_field :email, autocomplete: 'email', class: 'form-control col-md-6', placeholder: 'Email', required: true %><br/>
        <label class= 'less-imp-label' > 'Password123!@#' will be sent as temporary password to the user</label><br/>
        <%= form.submit 'Invite User', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

