<div class = 'container' >
  <div class= 'parsley-form user-sessions' >
    <%= form_for [:admin, @user] do |f| %>
    <%= render 'devise/shared/error_messages', resource: @user %>
      <div class= 'form-group' >
        <%= f.text_field :firstname, class: 'form-control', placeholder: 'First Name', required: true %><br/>
        <%= f.text_field :lastname, class: 'form-control', placeholder: 'Last Name', required: true %><br/>
        <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Email', required: true %><br/>
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password', required: true %>
        <label class= 'less-imp-label' > Hint: Password123!@#</label><br/>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: 'Confirm Password', required: true %><br/>
        <label class= 'less-imp-label' >Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our
        <%= link_to 'privacy policy ', policy_path %></label><br/>
        <div class= 'actions text-center' >
        <%= f.submit 'Invite User', class: 'btn btn-primary' %>
        </div>

      </div>
    <% end %>
  </div>
</div>

