<div class ='container'>
  <div class='parsley-form user-sessions'>
    <%= form_with(model: coupon, url: [:admin, coupon], local: true) do |form| %>
      <%= render '/shared/error_msg', resource: coupon %>
      <div class='form-group'>
        <%= form.label :name , 'Name of Coupon', class: 'required no-transform label', class: 'label required' %><br/>
        <%= form.text_field :name, class: 'form-control ', autofocus: true, required: true, class:'form-control col-md-6' %>
        <%= form.label :value, 'Value of Coupon', class: 'label required' %><br/>
        <%= form.number_field :value,class: 'form-control ', autofocus: true, required: true, class: 'form-control col-md-6' %>
        <label ><strong>Select products:</strong></label>
        <%=form.collection_select :'product_ids', Product.all, :id, :title, {  }, { multiple: true, class:'form-control col-md-6' } %><br>
      </div><br/>
      <div class='actions'>
        <%= form.submit 'Add Coupon', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
