<% if @coupon %>
  <h2 class='text-primary'>COUPON ID: <%= @coupon.id %></h2><br/>
  <div class ='container' >
    <strong>Name of Coupon:</strong>
    <%= @coupon.name %><br/>
    <hr/>
    <strong>Value of Coupon:</strong>
    <%= @coupon.value %><br/>
    <hr/>
    <strong>Validity of Coupon:</strong>
    <%= @coupon.validity%><br/>
    <hr/>
    <strong>Redeem Count:</strong>
    <%= @coupon.redeem_count%><br/>
    <hr/>
    <strong>Products with this coupon</strong><br/>
    <% @coupon.products.each do |products| %>
      <%= link_to products.id, admin_product_path(products) %>
      <%= link_to products.title, admin_product_path(products) %><br/> 
    <% end %> 
    <hr/><br/><%= link_to 'Back', admin_coupons_path, class: 'btn btn-primary' %>
  </div>
<% else %>
  <%= render :file => '../../public/404.html',  :status => 404 %>
<% end %>
